@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom slick scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Animations & transitions */
.smooth-transition {
  transition: all 0.15s ease-in-out;
}
